/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #faf9f8;
  --bg-tertiary: #fff;
  --bg-primary-accent: #faf9f8;
  --bg-hover: #f5f5f5;
  --bg-hover-secondary: #fdfdfd;
  --bg-hover-tertiary: #f5f5f5;
  --bg-hover-grid: #c8c6c4;
  --bg-active: #eff6fc;
  --bg-active-secondary: #f3f2f1;
  --bg-active-tertiary: #f3f2f1;
  --bg-separator: #e1dfdd;
  --bg-border: #e1dfdd;
  --bg-scrollbar: #8a8886;
  --bg-shadow: rgba(0, 0, 0, 0.1);
  --bg-brand: #2564cf;
  --bg-brand-hover: #215aba;
  --bg-brand-hover-secondary: #8c93a5;
  --bg-brand-secondary: #ecf6fd;
  --bg-brand-disable: #b7d7f6;
  --font-color-primary: #292827;
  --font-color-secondary: #605e5c;
  --font-color-tertiary: #605e5c;
  --font-color-warning: #a80000;
  --font-color-brand: #2564cf;
  --font-color-disable: #a19f9d;
  --bg-ms-planner: #31752f;
  --bg-ms-one-note: #7719aa;
  --bg-ms-excel: #107c41;
  --bg-ms-word: #185abd;
  --bg-ms-power-point: #c43e1c;
  --bg-ms-teams: #6355a8;
  --bg-ms-loop: #8230ff;
  --bg-warning: #fff4ce;
  --bg-error: #fed9cc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
